<div>
  <h2 id="page-heading" data-cy="AppointementHeading">
    <span>Appointements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-appointement"
        [routerLink]="['/appointement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Créer un nouveau Appointement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="appointements?.length === 0">
    <span>Aucun Appointement trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="appointements && appointements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="userUuid">
            <div class="d-flex">
              <span>User Uuid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span>Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <div class="d-flex">
              <span>Is Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="medecin.id">
            <div class="d-flex">
              <span>Medecin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="patient.id">
            <div class="d-flex">
              <span>Patient</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shiftHoraire.id">
            <div class="d-flex">
              <span>Shift Horaire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointement of appointements; trackBy: trackId" data-cy="entityTable">
          <td>{{ appointement.userUuid }}</td>
          <td>
            <a [routerLink]="['/appointement', appointement.id, 'view']">{{ appointement.id }}</a>
          </td>
          <td>{{ appointement.date | formatMediumDate }}</td>
          <td>{{ appointement.isActive }}</td>
          <td>
            <div *ngIf="appointement.medecin">
              <a [routerLink]="['/medecin', appointement.medecin.id, 'view']">{{ appointement.medecin.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="appointement.patient">
              <a [routerLink]="['/patient', appointement.patient.id, 'view']">{{ appointement.patient.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="appointement.shiftHoraire">
              <a [routerLink]="['/shift-horaire', appointement.shiftHoraire.id, 'view']">{{ appointement.shiftHoraire.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/appointement', appointement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/appointement', appointement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editer</span>
              </button>

              <button type="submit" (click)="delete(appointement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="appointements && appointements.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
