<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appointement">
      <h2 data-cy="appointementDetailsHeading"><span>Appointement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>User Uuid</span></dt>
        <dd>
          <span>{{ appointement.userUuid }}</span>
        </dd>
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ appointement.id }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ appointement.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ appointement.isActive }}</span>
        </dd>
        <dt><span>Medecin</span></dt>
        <dd>
          <div *ngIf="appointement.medecin">
            <a [routerLink]="['/medecin', appointement.medecin?.id, 'view']">{{ appointement.medecin?.id }}</a>
          </div>
        </dd>
        <dt><span>Patient</span></dt>
        <dd>
          <div *ngIf="appointement.patient">
            <a [routerLink]="['/patient', appointement.patient?.id, 'view']">{{ appointement.patient?.id }}</a>
          </div>
        </dd>
        <dt><span>Shift Horaire</span></dt>
        <dd>
          <div *ngIf="appointement.shiftHoraire">
            <a [routerLink]="['/shift-horaire', appointement.shiftHoraire?.id, 'view']">{{ appointement.shiftHoraire?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/appointement', appointement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
