

<div class="container-fluid"  [ngSwitch]="account !== null" >

    <div class="row flex-nowrap"  >
  
  <div class="col-auto col-md-2 col-xl-1 px-sm-1 px-0 bg-dark d-flex flex-column align-items-center align-items-sm-start px-1 pt-1 text-white min-vh-60" *ngSwitchCase="true">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" >
  
            <li *ngSwitchCase="true">
  
          <a routerLink="dashboard"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-speedometer2"></i>
                  <span class="ms-1 d-none d-sm-inline"  jhiTranslate="global.menu.side.dashbord">Dashboard</span>
              </a>
            </li>
  
            <li *ngSwitchCase="true">
  <a  routerLink="my-patients"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline" jhiTranslate="global.menu.side.my-pets">My Patients</span></a>
            </li>
  
            <li *ngSwitchCase="true"  >
    <a   *jhiHasAnyAuthority="'ROLE_ADMIN'" routerLink="all-patients"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
      <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline"jhiTranslate="global.menu.side.all-pets">All Patients</span></a>
  
            </li>
            <li *ngSwitchCase="true">
  
    <a   routerLink="profil"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
      <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline" jhiTranslate="global.menu.side.history">Profil</span> </a>
  
          </ul>
  </div>
  
      <div class="col-sm p-3 min-vh-md-100" >
  
        <router-outlet></router-outlet>
      </div>
  </div>
  
      </div>
  
  
  
  
  
  