<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="patient">
      <h2 data-cy="patientDetailsHeading"><span>Patient</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>User Uuid</span></dt>
        <dd>
          <span>{{ patient.userUuid }}</span>
        </dd>
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ patient.id }}</span>
        </dd>
        <dt><span>Full Name</span></dt>
        <dd>
          <span>{{ patient.fullName }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ patient.email }}</span>
        </dd>
        <dt><span>Scan Ordonnance</span></dt>
        <dd>
          <div *ngIf="patient.scanOrdonnance">
            <a (click)="openFile(patient.scanOrdonnance, patient.scanOrdonnanceContentType)">Ouvrir</a>
            {{ patient.scanOrdonnanceContentType }}, {{ byteSize(patient.scanOrdonnance) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button" [routerLink]="['/patient', patient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
      </button>
    </div>
  </div>
</div>
